$color_iron: #dee3e2;
$color_alto: #DCDCDC;
$color_spunPearl: #B0AEBA;
$color_alabaster: #f7f7f7;
$color_white: #ffffff;
$color_black: #000000;
$color_minsk: #44338D;
$color_cornflowerBlue: #8063FA;
$color_fog: #D4CAFF;
$color_blueViolet: #5B45B9;
$color_blueGem: #320b86;
$color_denim: #1976D2;
$color_scienceBlue: #0069d9;
$color_persianRed: #d32f2f;
$color_gallery: #EEEEEE;
$color_jacarta: #2f2366;