@import "../../styles/shared/colors";

.button {
    margin: 8px 5px;
    padding: 7px 8px;

    border: none;
    border-radius: 5px;
    
    outline: none;

    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: none;
    text-transform: uppercase;

    &.primary {
        background-color: $color_denim;
        border-color: $color_denim;
        color: $color_white;

        &:not(:disabled) {
            &.active,
            &:hover {
                background-color: $color_scienceBlue;
                border-color: $color_scienceBlue;
            }
        }
    }

    &.secondary {
        background-color: $color_minsk;
        border-color: $color_minsk;
        color: $color_white;

        &:not(:disabled) {
            &.active,
            &:hover {
                background-color: $color_blueGem;
                border-color: $color_blueGem;
            }
        }
    }

    &.unstyled {
        background: none!important;

        &.danger {
            color: $color_persianRed;
        }

        &:not(:disabled) {
            &.active,
            &:hover {
                background-color: $color_alabaster!important;
                border-color: $color_alabaster;
            }
        }
    }

    &.danger {
        background-color: $color_persianRed;
        border-color: $color_persianRed;
    }

    &:not(:disabled) {
        &.active,
        &:hover {
            cursor: pointer;
        }
    }

    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }

    

}