@import "../../styles/shared/colors";

.counter {
    flex: 0 0 190px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 100%;

    > .action {
        height: 100%;
        border: none;
        font-size: 1.15em;
        font-weight: bold;
        color: $color_spunPearl;
        background-color: $color_alto;
        display: flex;
        cursor: pointer;
        flex: 0 1 40px;
        outline: none;
        align-items: center;
        justify-content: center;

        &:hover {
            color: $c_white;
        }

        &.decrement {
              &:hover {
                background: $color_persianRed;
              }
        }

        &.increment {
            &:hover {
                background: $color_denim;
              }
        }
    }
}