@import "../../styles/shared/colors.scss";

.stopwatch {
    flex: 0 170px;

    padding: 5px 10px;
    
    background-color: $color_blueViolet;

    > .title {
        font-size: 14px;
        letter-spacing: 2px;
    }

    > .time {
        font-size: 24px;
        letter-spacing: 2px;
    }

}