@import "../../styles/shared/colors.scss";

.formPlayer{
    display: flex;
    align-items: center;

    background-color: $color_cornflowerBlue;
    
    padding: 15px 10px 15px 15px;

    ::placeholder {
        color: $color_iron;
    }

    > .name {
        flex: 1;
        display: flex;
        flex-grow: 1;
        border-width: 0 0 1px 0;
        padding: 10px;
        border-radius: 5px;
        background-color: $color_blueViolet;
        border-style: none;
        text-shadow: none;
        color: $color_white;
        letter-spacing: 2px;
        outline: none;
        margin-right: 10px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}