@import "../../styles/shared/colors.scss";

.player {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 1.2em;
    border-bottom: solid 2px $color_gallery;
    letter-spacing: 2px;

    > .details {
        flex-grow: 1;
        
        overflow: hidden;
        display: flex;
        color: $color_jacarta;
    
        line-height: 3.5em;
        padding-left: 10px;
    
        > .remove {
            visibility: hidden;
        }

        > .name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &:hover {
        >.details { 
            >.remove {
                visibility: visible;
            }
        }
    }

}